section{
    color: white;
    margin-left: 100px;
    margin-right: 100px;
}



h2, h1{
    font-family: 'Sixtyfour', sans-serif;
    color: #7dcf7d;
}
.fotos{
    text-align: center;
}

section{
    color: aqua;
    margin-left: 100px;
    margin-right: 100px;
}



h2, h1{
    font-family: 'Sixtyfour', sans-serif;
    color: #7dcf7d;
}
.fotos{
    text-align: center;
}
=======

footer {
    background-color: rgb(31, 27, 20);
    color: white;
    height: 50px;
    margin-top: 25px;
}

footer p {
    float: right;
    margin-right: 10px;
}

