section{
    color: white;
    margin-left: 100px;
    margin-right: 100px;
}

section p, .fotos {
    display: inline-block;
    margin-top: 16px;
}



section p {
    width: 50%;
    text-align: justify;
    margin-top: 0px;
}

#tierraplana {
    width: 380px;
    height: 230px;
}

#antartida {
    width: 570px;
    margin-bottom: 15px;

}

#reptiliano {
    height: 490px;
    width: 690px;
}

#masoneria {
    height: 390px;
}


section {
    background-color: rgb(0, 0, 0, 0.6);
    margin-top: 30px;
    text-align: center;
}

h2 {
    display: inline;
}

