section , h1{
    color: white;
    margin-left: 30px;
}

div img , div iframe{
    height: 400px;
    margin: 15px 15px 55px ;

}

div {
    text-align: center;
}

#correo {
    font-weight: bolder;
    display: inline-block;
}



#name {
    margin-left: 63px;
}

legend {
    font-size: 30px;
}

