html{
    background-image: url(https://www.shutterstock.com/image-vector/ancient-mystic-egyptian-symbol-isolated-600nw-2021006483.jpg);
    font-family: Georgia, 'Times New Roman', Times, serif

}

body {
    margin: 0px;
    background-color: rgb(31, 27, 20 ,0.7);
}

header {
    position: sticky;
    top: 0px;
    height: 110px;
    background-color: rgb(31, 27, 20);
    
}

header img {
    width: 100px;
}

#titulo {
    font-family: 'Sixtyfour', sans-serif;
    position: absolute;
    top: 10px;
    color: lightyellow;
}

header img, #titulo, header nav {
    display: inline-block;
}

header nav a {
    margin-left: 50px;
    text-decoration: solid;
    color: lightyellow;
}

header a:hover {
    text-decoration: underline;
    color: white;
}

header a:visited {
    color: 3ea83e;
}

header a:hover:visited{
    text-decoration: underline;
    color: white;
}

footer {
    background-color: rgb(31, 27, 20);
    color: white;
    height: 50px;
    margin-top: 165px;

}

footer p {
    float: right;
    margin-right: 10px;
}

header #cambioCss {
    height: 30px;
    width: 30px;
}

button {
    position: fixed;
    right: 15px;
    top: 25px;
    background-color: #7dcf7d;
    padding-top: 5px;
}

button p {
    margin: 5px;
    margin-top: 1px;
}

footer {
    background-color: rgb(31, 27, 20);
    color: white;
    height: 50px;
    
}

footer p {
    float: right;
    margin-right: 10px;
}


/*Conspiraciones*/

#encabezado{
    border: lightyellow 1px solid;
}

.conspiraciones h2, .conspiraciones h1{
    font-family: 'Sixtyfour', sans-serif;
    color: lightyellow;
}

/*Contacto*/

#correo a {
    color: lightyellow;
}

#formulario form {
    text-align: center;
    border: 1px solid white;
    width: 400px;
    padding: 15px;
    background-color: rgb(31, 27, 20);
    display: inline-block;
    margin-left: 430px;
}

#formulario input , #formulario textarea{
    border-radius: 10px;
    border-color: lightyellow;
}

/*Formulario*/
#otros {
    float: right;
    margin-right: 10px;
    border-color: #ff0;
    border-radius: 10px;
}

table{
    border:2px #ff0 solid;
    padding-right: 15px;
    background-color: rgb(31, 27, 20);
    box-shadow: 10px 10px 9px 0px lightyellow;
}

.cuadradoFormulario{
    border-color: #ff0;
    border-radius: 10px;
    margin: 15px 0;
    text-align: center;
}