.registro{
    position: relative;
    margin-top: 100px;
    margin-left: 500px;
    color: white;
   
}

#Enviar{
    border-color: gray;
    border-width: 2px;
}
#Reinicio{
    border-color: gray;
    border-width: 2px;
}
table,tfoot{
    text-align: center;
}
table{
    border:2px rgb(31, 212, 7) solid;
    padding-right: 15px;
    background-color: black;
    box-shadow: 10px 10px 9px 0px lightgreen;
}