
.registro{
    position: relative;
    margin-top: 100px;
    margin-left: 500px;
    color: white;
   
}
.cuadradoFormulario{
    border-color: aqua;
    border-width: 2px;
    margin: 15px 0;
    text-align: center;
}
#Enviar{
    border-color: blue;
    border-width: 2px;
}
#Reinicio{
    border-color: blue;
    border-width: 2px;
}
table,tr,td{
    border: 3px solid aqua;
}
table,tfoot{
    text-align: center;
}
