body {
    margin: 0px;
}

header {
    position: sticky;
    top: 0px;
    height: 110px;
    background-color: grey;
    
}

header img {
    width: 100px;
}

#titulo {
    font-family: 'Sixtyfour', sans-serif;
    position: absolute;
    top: 10px;
    color: #7dcf7d;
}

header img, #titulo, header nav {
    display: inline-block;
}

header a {
    margin-left: 50px;
    text-decoration: solid;
    color: #7dcf7d;
}

header a:hover {
    text-decoration: underline;
    color: white;
}

header a:visited {
    color: 3ea83e;
}

header a:hover:visited{
    text-decoration: underline;
    color: white;
}

#bienvenida {
    text-align: center;
}

#bienvenida h2 {
    font-size: 35px;
}